<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Crit Club</title>
</head>
<body>
    <nav>
        <a href="/" class="navText">HOME</a>
        <a href="/posts" class="navText">MY POSTS</a>
        <a href="/new" class="navText">NEW POST</a>
        <a href="/logout" class="navText" style="float:right">LOGOUT</a>
    </nav>
    <h1>CRIT CLUB</h1>
    <h3>EDIT YOUR POST</h3>
    <form action="/works/<%=work._id%>?_method=PUT" method="POST" autocomplete="off">
        <div>
            <label name="image" "></label><br>
            <input type="text" value="<%=work.image%>" name="image" >
        </div>
        <input type="text" name="title" value="<%=work.title%>"><br>
        <textarea type="text" name="description" value="<%=work.description%>"></textarea><br>
            <select class="browser-default" type="text" name="medium" material_select()>
            <option value=" "> <%=work.category%> </option>
            <option value="PAINTING">PAINTING</option>
            <option value="SCULPTURE">SCULPTURE</option>
            <option value="PRINTMAKING">PRINTMAKING</option>
            <option value="CERAMIC">CERAMIC</option>
            <option value="PHOTOGRAPHY">PHOTOGRAPHY</option>
            <option value="DRAWING">DRAWING</option>
        </select>
        <input type="submit" name="" value="SAVE" />
    </form>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>