<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Crit Club</title>
</head>
<body>
    <nav>
        <a href="/" class="navText">HOME</a>
        <a href="/new" class="navText">NEW POST</a>
        <a href="/logout" class="navText" style="float:right">LOGOUT</a>
    </nav>
    <h1>CRIT CLUB</h1>
    <h3>Your Work</h3>
    <div class="post">
        <ul>
            <% works.forEach(work => { %>
                <div class="singlePost">
                    <h5> <%= work.user.username %></h5>
                    <a href="/works/<%=work._id %>">
                        <img src= <%=work.image%> style="max-width: 300px;" ><br>
                    </a>
                    <li>
                        <h5> <%=work.title %> </h5>
                        <p> <%=work.description%> </p>
                        <p> <%=work.category%> </p>
                    </li>
                </div>
            <% }) %>
        </ul>
    </div>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>