<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Crit Club</title>
</head>
<body>
    <nav>
        <a href="/" class="navText">HOME</a>
        <a href="/posts" class="navText">MY POSTS</a>
        <a href="/new" class="navText">NEW POST</a>
        <a href="/logout" class="navText" style="float:right">LOGOUT</a>
    </nav>
    <h1>CRIT CLUB</h1>
    <h4> <%= work.title %> </h4>
    <div>
        <ul class="showEntry">    
                <h5> <%= work.user.username %> </h5>
                <img src="<%= work.image %>" style="max-width: 300px;"><br>
                
                <li>
                    <p> <%= work.description %> </p>
                    <p> <%= work.category %> </p>
                </li>
        </ul>
        <a href="/works/<%=work._id%>/edit">
            <input type="button" class="buttons" value="EDIT">
        </a>
        <form action="/works/<%=work.id%>?_method=DELETE" method="POST">
            <button class="buttons" input="submit">DELETE</button>
        </form>
        <form action="/works/:id" method="post">
            <div>
                <textarea name="comments" class="comments" style="text-align: left;" placeholder="LEAVE A COMMENT"></textarea>
            </div>
            <input type="submit" class="buttons" value="COMMENT">
        </form>
    </div>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>